<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>y3</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/adi/.bin/y3</string>
        <string>run</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>Crashed</key>
        <true/>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/y3_adi.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/y3_adi.err.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
